header {
  border-bottom: 1px solid var(--border-color);
  padding: 20px 60px;
}

.header {
  display: flex;
  align-items: center;
  position: relative;

  &__container {
    position: sticky;
    top: 0;
    z-index: 9;
    background: #fff;
  }

  input,
  input::-webkit-input-placeholder {
    color: #000000 !important;
    font-size: 16px !important;
  }

  &.d-flex {
    justify-content: space-between;
    align-items: flex-start;
  }

  &__form {

    .v-text-field__details {
      display: none !important;
    }

    .v-input__slot {
      margin-bottom: 0;
    }

    .theme--light.v-input:not(.v-input--is-disabled) input {
      padding: 8px 0 8px 15px;
    }

    .v-input .v-label {
      left: 15px !important;
    }
  }

  ul li {
    padding-left: 0 !important;
  }

  &__doc,
  &__author,
  &__date {
    position: relative;

    .v-field__field {
      padding-left: 60px;
    }

    .v-input {
      border-radius: 12px;
      background: #D9D9D9;
      margin-right: 20px;
      padding: 0 8px 0 0px;
      color: #000000 !important;
      font-family: 'Inter', sans-serif !important;
      width: 280px;

      &.v-input--is-focused {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .v-text-field {
      margin-top: 0;
    }

    .v-input {
      width: 300px;
      height: 54px;
      position: relative;
    }

    .v-input__control,
    .v-select .v-field.v-field {
      height: 54px;
    }

    .v-field__input {
      padding: 4px 0;
      min-height: 54px !important;
      position: relative;
    }

    .btn-save.v-btn:not(.v-btn--round).v-size--default {
      background: url("../../assets/icons/chevron-up.svg") no-repeat;
      width: 30px;
      min-width: 30px;
      display: block;
      height: 30px;
      position: absolute;
      right: 40px;
      top: 13px;
      box-shadow: none;
    }

    .mdi-calendar::before {
      content: '';
      background: url("../../assets/icons/calendar.svg") no-repeat;
      width: 30px;
      display: block;
      height: 30px;
      background-size: 100%;
    }
  }

  &__date {
    .dp__main {
      width: 280px;
      height: 54px;
      position: relative;
      margin-right: 10px;
    }

    .dp__input {
      border-radius: 12px;
      background: #D9D9D9;
      border-color: transparent;
      padding: 14px 20px 14px 60px;
    }

    .dp__range_end, .dp__range_start, .dp__active_date {
      background: #8c8c8c;
    }

    .dp__input_icon {
      color: #000000;
      width: 30px;
      height: 30px;
      padding-left: 20px;
    }
  }

  &__author {

    .v-select.v-select--chips .v-select__selections {
      min-height: auto !important;
    }

    .v-select__selection:first-of-type {
      width: calc(100% - 40px);
    }

    .v-input {
      width: 300px;
    }

    .v-input__prepend .v-icon {
      color: transparent !important;
      background: url("../../assets/icons/users.svg") no-repeat center center;
      width: 30px;
      display: block;
      height: 30px;
      opacity: 1;
      background-size: 100%;
    }
  }

  &__doc {

    .v-select__selection:first-of-type {
      width: calc(100% - 40px);
    }

    .v-input__prepend .v-icon {
      color: transparent !important;
      background: url("../../assets/icons/calend.svg") no-repeat center center;
      width: 30px;
      display: block;
      height: 30px;
      opacity: 1;
      background-size: 100%;
    }
  }

  &__user-photo {
    display: block;
    width: 87px;
    height: 87px;
    border-radius: 40px;
    margin-left: 22px;
  }

  &__user-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    line-height: normal;
  }

  &__user {
    width: 340px;
    min-width: 340px;
    margin-left: 30px;
  }

  &-text {

    .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
      border-color: white !important;
    }

    .v-input__slot {
      margin-bottom: 0;
    }

    .v-text-field__slot {
      height: 64px;
      overflow: auto;
    }

    .v-input__icon {
      margin-right: 20px;
    }

    .mdi-comment::before {
      content: '';
      background: url("../../assets/icons/search.svg") no-repeat;
      width: 30px;
      display: block;
      height: 30px;
      background-size: 100%;
    }
  }

  .v-chip.v-size--default {
    max-width: 130px;
    margin: 0 10px 0 0;
  }

  &__author,
  &__doc {

    .v-chip.v-size--default {
      max-width: 150px;
    }
  }

  .mdi-menu-down::before {
    content: '';
    background: url("../../assets/icons/chevron-up.svg") no-repeat center;
    width: 30px;
    display: block;
    height: 30px;
    opacity: 1;
  }

  .v-text-field > .v-input__control > .v-input__slot:after,
  .v-text-field > .v-input__control > .v-input__slot:before {
    display: none !important;
  }

  &__user-position {
    color: rgba(0, 0, 0, 0.74);
    margin-top: 6px;
    text-align: right;
  }
}

.wrapper .filters-blocks .v-text-field .v-field--no-label input,
.wrapper .filters-blocks .v-text-field .v-field--active input {
  font-size: 16px;
  padding: 5px 0px;
}

.filters-blocks {
  .v-field--variant-filled .v-field__overlay {
    background-color: transparent !important;
    opacity: 0 !important;
  }

  .v-input--horizontal .v-input__prepend {
    margin-inline-end: 12px;
    position: absolute;
    top: 12px;
    left: 20px;
  }

  .v-field--variant-filled .v-field__outline::after,
  .v-field--variant-underlined .v-field__outline::after,
  .v-field--variant-filled .v-field__outline::before,
  .v-field--variant-underlined .v-field__outline::before {
    border-color: transparent;
    border-width: 0;
  }
}

.v-menu__content .v-list-item__action .v-input,
.v-menu__content .v-list-item__action .v-input--selection-controls__input,
.v-menu__content .v-list-item__action .v-input__control,
.v-menu__content .v-list-item__action .v-input__slot {
  margin-right: 12px !important;
}

.v-application--wrap {
  min-height: auto !important;
}

.v-menu__content {
  margin-top: 44px;
  margin-left: 0px;
  width: 300px !important;
}

.v-date-picker-table {
  height: 228px !important;
}

.v-chip__content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v-card > *:first-child:not(.v-btn):not(.v-chip) {
  width: 300px !important;
}

.date-menu .v-card > *:first-child:not(.v-btn):not(.v-chip) {
  width: 280px !important;
}

.date-menu.v-menu__content {
  margin-top: 1px;
  margin-left: 0;
  width: 280px !important;
}

.header .v-field__prepend-inner > .v-icon {
  margin-top: -5px;
}

.header__doc .align-self-center,
.header__author .align-self-center {
  position: absolute;
  right: 10px;
}

.v-list-item--active .v-input--selection-controls__ripple:before {
  content: '';
  background: url("../../assets/icons/calendar.svg") no-repeat;
  width: 30px;
  display: block;
  height: 30px;
}

.author-content .v-list-item--link {
  display: block !important;
}

.author-content .position {
  color: #959595;
  line-height: 1.1;
}

.author-content .v-list-item {
  min-height: auto;
  padding: 8px 16px;
}

@media (max-width: 1600px) {
  header {
    padding: 20px 30px;
  }

  .header {

    .wrapper__content {
      width: calc(100% - 370px);
    }
  }

  .header__date .v-input {
    margin-right: 10px;
  }



  .header__author .v-input {
    margin-right: 10px;
  }
}

@media (max-width: 1200px) {
  .header__author .v-input {
    width: 280px;
  }

  .v-list-item__action:first-child, .v-list-item__icon:first-child {
    margin-right: 15px;
  }

  header {
    padding: 20px;
  }

  .v-menu__content {
    width: 280px !important;
  }

  .header__form .theme--light.v-input:not(.v-input--is-disabled) input {
    padding: 8px 0 8px 8px;
  }

  .header__doc .v-input {
    margin-right: 0;
    width: 280px;
  }

  .header__date .v-input {
    width: 260px;
  }

  .date-menu .v-card > *:first-child:not(.v-btn):not(.v-chip),
  .date-menu.v-menu__content {
    width: 260px !important;
  }



}

@media (max-width: 1024px) {
  .header__user {
    display: none !important;
  }

  .header .wrapper__content {
    width: 100%;
  }
}

@media (max-width: 930px) {
  .header-text {
    margin: 0 10px 0 0;
    padding: 0;
    height: 40px;
    border-radius: 20px;
  }

  .header .mobile-only .v-field__prepend-inner > .v-icon,
  .header form.start .v-field__prepend-inner > .v-icon {
    margin-top: 0;
  }

  .mobile-only,
  form.start {
    .v-textarea .v-field--no-label textarea {
      padding: 7px 12px;
      height: 40px;
      min-height: 40px;
      -webkit-mask-image: none;
    }

    .v-field--variant-outlined .v-field__outline {
      border-radius: 20px;
      box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.10);
    }
  }

  .header {

    .logo__name span:first-of-type {
      left: 2px;
    }

    .logo .circle {
      left: -11px;
    }
  }

  .header__container.start {
    height: calc(100vh - 30px);
  }

  .start header {
    border-bottom: none;
    height: 100%;
  }

  .header-text .v-input__icon {
    margin-right: 10px;
  }

  .start .header-text {
    margin: 0;
  }

  .close-block.header__doc, .close-block.header__author, .close-block.header__date {
    display: none;
  }

  .header__doc .v-input__icon--prepend .v-icon,
  .header__author .v-input__icon--prepend .v-icon,
  .header__date .v-input__icon--prepend .v-icon {
    width: 50px;
    height: 50px;
    background-size: 100%;
  }

  .header__doc .mdi-calendar::before,
  .header__author .mdi-calendar::before,
  .header__date .mdi-calendar::before {
    content: "";
    width: 50px;
    height: 50px;
    background-size: 100%;
  }

  .header__doc .v-input,
  .header__author .v-input,
  .header__date .v-input {
    margin-right: 0;
    width: 66px;
    height: 50px;
    background: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__doc,
  .header__author,
  .header__date {
    margin-top: 20px;

    .v-field__prepend-inner > .v-icon, .v-field__append-inner > .v-icon, .v-field__clearable > .v-icon {
      display: none;
    }

    .v-chip.v-chip--density-default {
      display: none;
    }
  }

  .header__date {
    .dp__main {
      width: 66px;
    }

    .dp__input {
      background: transparent;
    }

    .dp__clear_icon {
      display: none;
    }
  }

  .filters-blocks {
    width: 100%;
    justify-content: space-between;

    &.mobile-only {
      display: flex !important;
    }
  }

  .filters .v-text-field__slot {
    display: none !important;
  }

  .header {
    position: relative;
  }

  .header.start {
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .auth-btn {
    position: absolute;
    top: 0;
    padding: 8px 30px;
    right: 0;
    text-decoration: none;
    color: #000 !important;
    background-color: #959595 !important;
    border-radius: 20px;
    font-size: 16px !important;
    text-transform: inherit;
  }

  .auth-btn:hover {
    background-color: #32B4DD !important;
  }

  .header__form form {
    width: calc(100% - 40px);
  }

  .header__form form.start {
    width: 100%;
    margin-top: 30px;
  }

  .header__form form.start {
    .theme--light.v-input {
      box-shadow: 0px 0px 10px #dedede;
    }
  }

  .header__form .v-btn.mobile-only {
    display: block !important;
    min-width: 40px;
    height: 40px !important;
    padding: 0 !important;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background-color: transparent !important;
    box-shadow: none;
  }

  .header__form {
    display: block;
    position: relative;
  }

  .mobile-only {
    display: block !important;
  }

  .header-text .mdi-comment::before {
    content: "";
    background: url('../../assets/icons/search-small-mob.svg') no-repeat;
    width: 30px;
    display: block;
    height: 30px;
  }

  .header__doc .v-input__icon--prepend .v-icon {
    background: url('../../assets/icons/calend-mob.svg') no-repeat center center;
  }

  .header__author .v-input__icon--prepend .v-icon {
    background: url('../../assets/icons/users-mob.svg') no-repeat center center;
  }

  .header__date .mdi-calendar::before {
    background: url('../../assets/icons/calendar-mob.svg') no-repeat center center;
  }

  .header__date .mdi-calendar::before {
    background: url('../../assets/icons/calendar-mob.svg') no-repeat center center;
  }

  .header__date .v-text-field__slot {
    display: block !important;
    color: transparent;
  }

  .header__form .header__date .theme--light.v-input:not(.v-input--is-disabled) input {
    color: transparent !important;
    position: relative;
    left: -29px;
    opacity: 0;
  }

  .theme--light.v-chip:not(.v-chip--active) {
    display: none;
  }

  .header__doc .align-self-center, .header__author .align-self-center {
    display: none;
  }

  .answer .question {
    padding: 10px 20px !important;
  }

  .logo {
    color: #000;
    font-size: 20px;
    position: relative;
    display: flex !important;
    flex-direction: column;
    align-items: center;

    &__name {
      font-size: 48px;
      line-height: 1;
      position: relative;
    }

    &__name span:first-of-type {
      position: relative;
      top: -12px;
      left: 10px;
    }

    .circle {
      width: 63px;
      height: 63px;
      position: absolute;
      background: #32B4DD;
      left: -2px;
      border-radius: 35px !important;
      top: -20px;
    }
  }

}

@media (max-width: 700px) {
  .answer__worker-info.d-flex {
    display: block !important;
    text-align: center;
  }

  .answer__worker-info img {
    width: 350px;
    height: auto;
    margin-bottom: 20px;
  }

  .answer__worker-info,
  .answer__text p {
    font-size: 16px !important;
  }

  .answer__worker-text.ml-5 {
    margin-left: 0 !important;
    text-align: left;
  }
}

@media (max-width: 420px) {
  header {
    padding: 20px 10px;
  }

  .logo {
    font-size: 18px;
  }

  .logo__name {
    font-size: 43px;
  }

  .logo .circle {
    width: 53px;
    height: 53px;
    left: 0;
    top: -17px;
  }

  .header__form {
    align-items: center;
  }

  .header__form .v-btn.mobile-only {
    margin-right: 12px !important;
  }

  .header__form .v-btn.mobile-only.filters {
    margin-right: 0 !important;
  }

  .logo:before {
    content: "";
    top: 4px;
  }

}
